@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.fonctionnement-container-step {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 7px 7px 1px rgba(0, 0, 0, 0.12);
}
.fonctionnement-container-step:hover {
  background-color: #9356DC;
  opacity: 0.3;
  color: black;
}
.fonctionnement-container-step .fonctionnement-container-step-content {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  gap: 20px;
}
.fonctionnement-container-step .badge {
  position: absolute;
  top: 20px;
  left: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
}
.card-container .card-img img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  height: 210px;
}
.card-container .card-img {
  position: relative;
}
.card-container .card-img .badge-restaurant {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(169, 224, 209);
  color: rgb(58, 142, 114);
  padding: 5px;
  border: 1px solid rgb(58, 142, 114);
  border-radius: 3px;
}
.card-container .card-infos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.card-container .card-infos .card-desc {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container .card-infos .card-fav {
  display: flex;
  align-items: center;
}
.card-container .card-infos .card-fav:active {
  color: red;
}
.card-container .card-infos .card-fav i {
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 53, 53);
}
footer svg path {
  fill: white;
}
footer a {
  color: white;
  text-decoration: white;
}

/* **** GENERAL **** */
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* **** HEADER **** */
/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  align-items: center;
}
nav a img {
  width: 50%;
}
nav i {
  visibility: hidden;
}

/* **** MAIN **** */
/* HEADLINE */
.headline .headline-localisation {
  background-color: rgb(234, 234, 234);
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.headline .headline-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}
.headline .headline-search-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.headline .headline-search-container button {
  background: linear-gradient(0deg, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
}

/* FONCTIONNEMENT */
.fonctionnements {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 0 auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fonctionnements .fonctionnements-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

/* RESTAURANTS */
.restaurants {
  background-color: rgb(247, 247, 247);
}
.restaurants .restaurants-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
.restaurants h2 {
  margin-top: 40px;
}
.restaurants .restaurant {
  width: 100%;
}

a {
  text-decoration: none;
}

nav .nav-menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  align-items: center;
  width: 80%;
}
nav i {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
