@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* **** GENERAL **** */
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand";
}

h3 {
  font-weight: 100;
}

footer {
  background-color: rgb(53, 53, 53);
  width: 100%;
}
footer .footer-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  gap: 5px;
  padding: 20px 0 20px 0;
}
footer svg path {
  fill: white;
}
footer a {
  color: white;
  text-decoration: white;
}

.footer-first-two a {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  gap: 10px;
}
.footer-first-two i {
  width: 20px;
  font-size: 14px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  align-items: center;
}
nav a img {
  width: 50%;
}
nav i {
  visibility: hidden;
}
nav .arrow-header {
  visibility: hidden;
}

.loader {
  background-color: #FF79DA;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  animation: loader 3s;
  animation-iteration-count: 1;
  visibility: hidden;
}
.loader__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
}
.loader__container p {
  position: absolute;
  color: #99E2D0;
  font-weight: 500;
}
.loader__container .circle1 {
  border-top: 10px solid #99E2D0;
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin1 2s linear infinite;
}
.loader__container .circle2 {
  border-bottom: 10px solid #99E2D0;
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin1 2s linear infinite;
}

.loupe {
  width: 100px;
  position: absolute;
  animation: loupe 3s infinite;
}
.loupe svg path {
  fill: #99E2D0;
}

nav .nav-menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  align-items: center;
  width: 80%;
}
nav i {
  visibility: visible;
  font-size: 25px;
}

@keyframes appear {
  0% {
    transform: scale(0);
    filter: blur(4px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}
@keyframes loader {
  0% {
    display: block;
  }
  100% {
    visibility: visible;
  }
}
@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin360 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(359deg);
    opacity: 1;
  }
}
.card-container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
}
.card-container .card-img img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  height: 210px;
}
.card-container .card-img {
  position: relative;
}
.card-container .card-img .badge-restaurant {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(169, 224, 209);
  color: rgb(58, 142, 114);
  padding: 5px;
  border: 1px solid rgb(58, 142, 114);
  border-radius: 3px;
}
.card-container .card-infos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.card-container .card-infos .card-desc {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container .card-infos .card-desc h3 {
  font-weight: 600;
}
.card-container .card-infos .card-desc p {
  font-weight: 100;
}
.card-container .card-infos .card-fav {
  display: flex;
  align-items: center;
}

.btn {
  background: linear-gradient(350deg, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
  color: white;
  box-shadow: 6px 7px 7px 1px rgba(0, 0, 0, 0.12);
  border: none;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}

.heart-btn {
  font-size: 30px;
  font-weight: bolder;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.heart-btn:hover {
  font-weight: bolder;
  background: linear-gradient(350deg, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0;
}

.fa-regular {
  font-weight: bolder !important;
}

/* HEADLINE */
body {
  position: relative;
}

.headline__localisation {
  background-color: rgb(234, 234, 234);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.headline__localisation i {
  margin-right: 15px;
}
.headline__search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}
.headline__search-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.headline__search-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.headline__search-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* FONCTIONNEMENT */
.fonctionnements {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 0 auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (min-width: 1270px) {
  .fonctionnements {
    height: 250px;
  }
}
.fonctionnements h2 {
  font-weight: 700;
}
.fonctionnements__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
@media only screen and (min-width: 1270px) {
  .fonctionnements__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
.fonctionnements__container-step {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 7px 7px 1px rgba(0, 0, 0, 0.12);
}
.fonctionnements__container-step i {
  color: rgb(126, 126, 126);
}
.fonctionnements__container-step:hover {
  background-color: rgba(147, 86, 220, 0.12);
  color: black;
}
.fonctionnements__container-step:hover i {
  color: #9356DC;
}
.fonctionnements__container-step-content {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  align-items: center;
  border-radius: 20px;
}
.fonctionnements .badge {
  position: absolute;
  top: 20px;
  left: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}

/* RESTAURANTS */
.restaurants {
  background-color: rgb(247, 247, 247);
  padding-bottom: 70px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
@media only screen and (min-width: 1270px) {
  .restaurants__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants h2 {
  padding: 40px 0 40px 0;
  font-weight: 700;
  margin-left: 5%;
}
.restaurants .restaurant {
  width: 100%;
  box-shadow: 6px 7px 7px 1px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.menu-header img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 350px;
}

@media only screen and (min-width: 1270px) {
  .menu-header h1 {
    position: absolute;
    top: 15%;
    left: 40%;
    margin: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 20px;
  }
}

.menu {
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -70px;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

.menu-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1270px) {
  .menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.menu-container-head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  margin: 0 5%;
}
.menu-container-head i {
  font-size: 35px;
  font-weight: 100;
}
@media only screen and (min-width: 1270px) {
  .menu-container-head h1 {
    visibility: hidden;
  }
}

.menu-parts {
  margin-top: 30px;
}
.menu-parts hr {
  width: 55px;
  height: 4px;
  background-color: rgb(169, 224, 209);
  border: none;
}

.menu-cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.card-menu {
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 6px 7px 7px 1px rgba(0, 0, 0, 0.12);
  animation: appear 1s;
}
.card-menu:nth-child(1) {
  animation-delay: 100ms;
}
.card-menu:nth-child(2) {
  animation-delay: 200ms;
}
.card-menu:nth-child(3) {
  animation-delay: 300ms;
}
.card-menu:nth-child(4) {
  animation-delay: 400ms;
}
.card-menu:nth-child(5) {
  animation-delay: 500ms;
}
.card-menu:nth-child(6) {
  animation-delay: 600ms;
}
.card-menu:nth-child(7) {
  animation-delay: 700ms;
}
.card-menu:nth-child(8) {
  animation-delay: 800ms;
}
.card-menu:nth-child(9) {
  animation-delay: 900ms;
}
.card-menu:nth-child(10) {
  animation-delay: 1000ms;
}

.card-menu-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.card-menu-content .card-menu-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-menu-content .card-menu-infos p {
  font-weight: 100;
  font-size: 15px;
}
.card-menu-content .card-menu-infos .meal-name {
  font-weight: 600;
  font-size: 18px;
}
.card-menu-content .card-menu-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 55px;
  width: 50px;
  transition: all 0.6s ease;
  text-align: center;
}
.card-menu-content .card-menu-price .price {
  font-weight: 600;
}

.animate {
  position: absolute;
  right: 0;
  background-color: rgb(169, 224, 209);
  width: 0;
  height: 100%;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.animate i {
  font-size: 30px;
  color: white;
  opacity: 0;
}

.card-menu-infos > p {
  width: 250px;
  transition: all 0.5s ease;
}

.card-menu:hover .animate {
  width: 70px;
}
.card-menu:hover .animate i {
  animation: spin360 0.5s;
  animation-fill-mode: forwards;
}
.card-menu:hover .card-menu-price {
  margin-right: 50px;
}
@media only screen and (max-width: 380px) {
  .card-menu:hover .card-menu-infos > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
  }
}
@media only screen and (min-width: 1270px) {
  .card-menu:hover .card-menu-infos > p {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
