.btn {
  background: $linear-gradient-btn;
  color: white;
  box-shadow: $box-shadow;
  border: none;
  padding: 15px;
  border-radius: 50px;
  @include display-center;
  margin: 0 auto;
  width: 200px;
}
