.btn {
  background: $linear-gradient-btn;
  color: white;
  box-shadow: $box-shadow;
  border: none;
  padding: 15px;
  border-radius: 50px;
  @include display-center;
  margin: 0 auto;
  width: 200px;
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: 6px 7px 7px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(350deg, rgb(193 140 255) 35%, rgb(255, 121, 218) 100%);;
}
