.fonctionnement-container-step {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 7px 7px 1px rgba(0,0,0,0.12);
  &:hover {
    background-color: #9356DC;
    opacity: 0.3;
    color: black;
  }
  .fonctionnement-container-step-content {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    gap: 20px;
  }
  .badge {
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
  }
}
