.card-container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;

  .card-img img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: $border-radius-card;
    border-top-right-radius: $border-radius-card;
    position: relative;
    height: 210px;
  }

  .card-img {
    position: relative;

    .badge-restaurant {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgb(169, 224, 209);
      color: rgb(58, 142, 114);
      padding: 5px;
      border: 1px solid rgb(58, 142, 114);
      border-radius: 3px;
    }
  }

  .card-infos {
   @include display-between;
   margin: 0 auto;
   width: 90%;

    .card-desc {
      height: 70px;
      @include flex-column;
      justify-content: center;
      h3 {
        font-weight: 600;
      }
      p {
        font-weight: 100;
      }
    }

    .card-fav {
      display: flex;
      align-items: center;
    }
  }
}
