.heart-btn {
  font-size: 30px;
  &:hover {
    font-weight: bolder;
    background: $linear-gradient-btn;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.fa-heart {
  font-weight: 100;
}
