/* HEADLINE */
body {
  position: relative;
}
.headline {
  &__localisation {
    background-color: $bg-grey;
    height: 50px;
    @include flex-column;
    justify-content: center;
    text-align: center;
    i {
      margin-right : 15px;
    }
  }

  &__search {
    @include flex-column;
    width: 100%;
    height: 250px;
    justify-content: center;
    background-color: $bg-white;
  }

  &__search-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

/* FONCTIONNEMENT */
.fonctionnements {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 0 auto;
  height: 350px;
  @include flex-column;
  justify-content: space-evenly;

  @include responsive(desktop){
    height: 250px;
  }
  h2 {
    font-weight: 700;
  }

    &__container {
      @include flex-column;
      justify-content: center;
      text-align: center;
      gap: 10px;
      @include responsive(desktop){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }
    }
    &__container-step {
    background-color: $bg-white;
    border-radius: $border-radius-card;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    @include display-center;
    align-items: center;
    box-shadow: $box-shadow;
    i {
      color: rgb(126, 126, 126);
    }

    &:hover {
      background-color: rgba(147,86,220,0.12);
      color: black;
      i {
        color: $colour-primary;
      }
    }
  }

  &__container-step-content {
    @include display-around;
    width: 70%;
    height: 100%;
    align-items: center;
    border-radius: $border-radius-card;
  }

  .badge {
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
  }
}

/* RESTAURANTS */
.restaurants {
  background-color: $bg-white;
  padding-bottom: 70px;


  a {
    text-decoration: none;
    color: black;
  }
  &__container {
    @include flex-column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap:20px;

    @include responsive(desktop){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  h2 {
    padding: 40px 0 40px 0;
    font-weight: 700;
    margin-left: 5%;
  }

  .restaurant {
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: $border-radius-card;
  }
}
