// MENU-HEADER
.menu-header img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 350px;
}


.menu-header h1 {
  @include responsive(desktop) {
    position:absolute;
    top:15%;
    left:40%;
    margin:0;
    color:white;
    background:rgba(0,0,0,.7);
    padding : 15px;
    border-radius: $border-radius-card;
  }
}

.menu {
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -70px;
  position: relative;
  width: 100%;
  padding-bottom: 43px;
}

.menu-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  @include responsive(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.menu-container-head {
  @include display-between;
  padding-top: 20px;
  align-items: center;
  margin: 0 5%;
  width: 85%;
  @include responsive(desktop) {
    width: 90%;
  }
  i {
    font-size: 35px;
    font-weight: 100;
  }
  h1 {
    @include responsive(desktop) {
      visibility: hidden;
    }
  }
}

.menu-parts {
  margin-top: 30px;
  hr{
   width: 55px;
   height: 4px;
   background-color: rgb(169, 224, 209);
   border: none;
 }
}


.menu-cards-container {
  @include flex-column;
  gap: 15px;
  margin-top: 15px;
  @include responsive(desktop) {
   width: 480px;
  }
}
.card-menu {
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: $border-radius-card;
  @include display-between;
  height: 70px;
  box-shadow: $box-shadow;
  animation: appear 1s;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}){
      animation-delay: 100ms * $i;
    }
  }
}

.card-menu-content {
  width: 90%;
  @include display-between;
  margin: 0 auto;
  position: relative;
  .card-menu-infos {
    width: 250px;
    @include flex-column;
    justify-content: center;
    @include responsive (desktop){
      width: 283px;
    }
    @include responsive (tablet){
      width: 500px;
    }
    p {
      font-weight: 100;
      font-size: 15px;
    }
    .meal-name {
      font-weight: 600;
      font-size: 15px;
    }
  }

  .card-menu-price {
    @include flex-column;
    justify-content: flex-end;
    height: 55px;
    width: 50px;
    transition: all 0.3s ease;
    text-align: center;
    .price {
      font-weight: 600;
    }
  }
}

.animate {
  position: absolute;
  right: 0;
  background-color: rgb(169, 224, 209);
  width: 0;
  height: 100%;
  transition: all 0.3s ease-out;
  @include display-center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  i{
    font-size: 30px;
    color: white;
    opacity: 0;
  }
}

.card-menu-infos > p {
  transition: all 0.5s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-menu:hover {
  .card-menu-infos > p {
    @include responsive (desktop){
      width: 250px;
    }
  }
  .animate {
    width: 70px;
    i {
      animation: spin360 0.5s;
      animation-fill-mode: forwards;
    }
  }
  .card-menu-price {
    margin-right: 60px;
  }
  @include responsive(tablet) {
    .card-menu-infos > p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
    }
  }
  @include responsive(desktop) {
    .card-menu-infos > p {
      max-width: 100%;
    }
  }
}
