// MENU-HEADER
.menu-header img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 350px;
}

.menu {
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -55px;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

.menu-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.menu-container-head {
  display:flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;

  i {
    font-size: 35px;
    font-weight: 100;
  }
}

.menu-parts {
  margin-top: 30px;

  hr{
   width: 55px;
   height: 4px;
   background-color: rgb(169, 224, 209);
   border: none;
 }
}


.menu-cards-container {
  @include flex-column;
  gap: 15px;
  margin-top: 15px;
}
.card-menu {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 6px 7px 7px 1px rgba(0,0,0,0.12);
  animation: appear 1s;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}){
      animation-delay: 100ms * $i;
    }
  }
  animation-fill-mode: boths;
}

.card-menu-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  .card-menu-infos {
    @include flex-column;
    justify-content: center;
    p {
      font-weight: 100;
    }
  }

  .card-menu-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 55px;
  }
}
