a {
  text-decoration: none;
}

nav {
  .nav-menu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    align-items: center;
    width: 80%;
  }
  i {
      visibility: visible; ;
    }
}

// MENU-HEADER

.menu-header {
  // position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
}
