@keyframes appear {
  0% {
    transform: scale(0);
    filter: blur(4px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}

  @keyframes loader {
    0% {
      display: block;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes dots {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes spin1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
