@import './variables';

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin display-between {
  display: flex;
  justify-content: space-between;
}

@mixin display-center {
  display: flex;
  justify-content: center;
}

@mixin display-around {
  display: flex;
  justify-content: space-around;
}


$truncate_text : 0;


@mixin truncate {
  @if $truncate_text == 1 {
    .card-menu-infos {
      p {
        word-break: break-all;
        text-overflow: ellipsis;
        max-width: 800px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

@mixin circle($width, $height, $border) {
  border-#{$border}: 10px solid #99E2D0;
  position: absolute;
  border-radius: 50%;
  width: $width;
  height: $height;
  animation: spin1 2s linear infinite;
}

@mixin responsive ($breakpoint) { //the name of the mixin is devices

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }



}
