$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$bg-white: rgb(247, 247, 247);
$bg-grey: rgb(234, 234, 234);

$linear-gradient-btn: linear-gradient(0deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 100%);

$box-shadow: 6px 7px 7px 1px rgba(0,0,0,0.12);
$border-radius-card: 20px
