@import "../utils/mixins";
footer {
  background-color: rgb(53, 53, 53);
  width: 100%;
  .footer-container{
    width: 90%;
    @include flex-column;
    margin-left: 5%;
    gap: 5px;
    padding: 20px 0 20px 0;
  }
  svg path {
    fill: white;
  }

  a {
    color: white;
    text-decoration: white;
  }
}

.footer-first-two {
  a {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    gap: 10px;
  }
  i {
  width: 9%;
  }
}
