/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  align-items: center;
    a img {
    width: 50%;
  }
  i {
    visibility: hidden;
  }
  .arrow-header  {
    visibility: hidden;
  }
}
