.loader {
  background-color: #FF79DA;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  animation: loader 3s;
  animation-iteration-count: 1;
  visibility: hidden;
  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    p {
      position: absolute;
      color: #99E2D0;
      font-weight: 500;
    }
    #dots_un {
      animation: dots 1s infinite;
      color: #99E2D0;
    }
    #dots_deux {
      animation: dots 2s infinite;
      color: #99E2D0;
    }

    #dots_trois {
      animation: dots 3s infinite;
      color: #99E2D0;
    }
    .circle1 {
      /* border: 2px solid red; */
      border-top: 10px solid #99E2D0;
      position: absolute;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      animation: spin1 2s linear infinite;
    }
      .circle2 {
      border-bottom: 10px solid #99E2D0;
      position: absolute;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      animation: spin1 2s linear infinite;
    }
  }
}


.loupe {
  width: 100px;
  position: absolute;
  animation: loupe 3s infinite;
  svg path {
    fill: #99E2D0;
  }
}

// @keyframes loupe {
//   0% {
//     transform: translate(-50%, -50%) scale(1);
//   }
//   50% {
//     transform: translate(-50%, -50%) scale(1.2);
//   }
//   100% {
//     transform: translate(-50%, -50%) scale(1);
//   }
// }
@keyframes loupe {
  0% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(359deg);
  }
}
