.loader {
  background-color: #FF79DA;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  animation: loader 3s;
  animation-iteration-count: 1;
  visibility: hidden;
  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    p {
      position: absolute;
      color: #99E2D0;
      font-weight: 500;
    }
    #dots_un {
      animation: dots 1s infinite;
      color: #99E2D0;
    }
    #dots_deux {
      animation: dots 2s infinite;
      color: #99E2D0;
    }

    #dots_trois {
      animation: dots 3s infinite;
      color: #99E2D0;
    }
    .circle1 {
      /* border: 2px solid red; */
      border-top: 2px solid #99E2D0;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      animation: spin1 2s linear infinite;
    }
  }

  @keyframes loader {
    0% {
      display: block;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes dots {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes spin1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
