@import "../utils/mixins";

.loader {
  background-color: #FF79DA;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  animation: loader 3s;
  animation-iteration-count: 1;
  visibility: hidden;
  &__container {
    @include display-center;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    p {
      position: absolute;
      color: #99E2D0;
      font-weight: 500;
    }

    .circle1 {
      @include circle(300px, 300px, top);
    }
      .circle2 {
      @include circle(200px, 200px, bottom);
    }
  }
}

.loupe {
  width: 100px;
  position: absolute;
  animation: sablier 3s infinite;
  svg path {
    fill: #99E2D0;
  }
}
